body {
  margin: 0;
  font-size: 28px;
  background-color: black;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.icon {
  color: white;
}

.icon:hover {
  font-size: 30px;
}

h1 {
  font-family: "Special Elite";
  color: white;
  font-weight: 250;
  font-size: 50px;
}

p {
  font-family: "Special Elite";
  color: white;
  font-weight: 200;
  font-size: 28px;
}

li {
  font-family: "Special Elite";
  color: white;
  font-weight: 200;
  font-size: 25px;
  margin-bottom: 15px;
}

hr {
  color: #ddd;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  z-index: 1;
  background-color: black;
  height: 55px;
}

#navbar a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-align: end;
  /* font-size: 17px; */
}

.icons {
  margin-left: 80%;
  width: 200px;
}

.icon:hover {
  /* background-color: #ddd;
    color: black; */
  height: 30px;
  width: 30px;
}

/* #navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */

.content {
  padding: 16px;
  /* background-color: #04AA6D; */
  width: 90%;
  margin-left: 4%;
  /* position: relative; */
}

.contentWrapper {
  width: 50%;
  /* background-color: #04AA6D; */
  margin-left: 40%;
  padding-left: 20px;
  padding-bottom: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*----------------------------------------- Timeline Styling -----------------------------*/

* {
  box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  /* padding-bottom: 200px; */
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: rgb(208, 228, 228);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  font-family: FontAwesome;
  content: "\f5b8";
  color: white;
  font-size: 23px;
  position: absolute;
  width: 23px;
  height: 23px;
  right: -17px;
  background-color: #041c32;
  border: 4px solid #041c32;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.container:hover::after {
  content: "\f583";
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.exp {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.left p {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

.right p {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

hr {
  width: 10%;
  border: 5px dotted;
  border-style: none none dotted;
  color: grey;
}

.hrDiv {
  padding: 60px;
}
/* ----------------------------------Skill Space---------------------- */
.mySkills {
  height: 1000px;
  background-color: #130f40;
  background-image: linear-gradient(345deg, #130f40 0%, #000000 74%);
}
.skillsWrapper {
  width: 50%;
  margin: auto;
  margin-top: 60px;
  /* background-color: #e84393; */
}

@keyframes load {
  from {
    width: 0%;
  }
}
@-webkit-keyframes load {
  from {
    width: 0%;
  }
}
@-moz-keyframes load {
  from {
    width: 0%;
  }
}
@-o-keyframes load {
  from {
    width: 0%;
  }
}

.bar {
  background: linear-gradient(315deg, #130f40 0%, #000000 74%);
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.bar.skillBar::before {
  content: attr(data-skill);
  background-color: #b33030;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  background-color: #f0a500;
}
.bar.back::before {
  background-color: #c84b31;
}

.bar.learning.skillBar::before {
  width: calc(50% - 10px);
}
.bar.basic.skillBar::before {
  width: calc(50% - 10px);
}

.bar.advanced.skillBar::before {
  width: calc(50% - 10px);
}
.bar.expert.skillBar::before {
  width: calc(70% - 10px);
}

.endingSection {
  padding-top: 10%;
  padding-left: 15%;
  font-family: "Anybody", cursive;
  font-size: 600%;
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
